body{
    
    height: 100vh;
    background-color: #83C4E1;
}
html{
    height: 100vh; 
}
h1,h3{
   
    text-shadow: 0 0 20px rgb(253, 220, 220);
    word-break: keep-all;
}

.name{
    display: block;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 3px #fdb4b4;
    margin: auto;
}
.start{
    
    margin: auto;
}
#start-button{
    display: block;
    margin: 0 auto;
    width: auto;
    min-height: 130px;
    height: auto;
    font-size: 25px;
    
}
#title{
    display: flexbox;
    font-size: 25px;
    width: auto;
    height: 100px;
    text-shadow: 0 0 30px rgb(255, 255, 255);
    word-break: keep-all;
}
.progress{
    
}
.question{
    display: none;
    width: auto;
    height: auto;
    margin: auto;
}

#A, #B{
    font-size: 20px;
    width: 20rem;
    height: 150px;
    margin: auto;
    word-break: keep-all;
    background-color: #4fabc7;
    border-color: #c5e6fa;
}

#A, #B:hover   {
    
}

.btn-info.focus, .btn-info:focus {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    outline: 0;
}
.relation{
    margin: auto;
    
}
#good, #bad{
    width: 100px;
    height: 150px;
}
#g_r, #b_r{
    text-align: center;
    display: block;
    margin-top: 20px;
    margin-bottom: -60px;
    
}
#g_r{
    text-shadow: 0 0 3px #00f7ff;
}
#b_r{
    text-shadow: 0 0 3px #ff0909;
}
#goodice, #badice{
    font-size: 12px;
}
.result{
    display: none;
    background-color: #ffffffe3;
    margin: auto;
}


#img{
    width: 280px;
    height: 320px;
    margin:0 auto; /* 가운데 배치 */
    margin-bottom: -40px;
}

.share{
    margin:0 auto;
}
.explain_field{
    
    width: auto;
    height: auto;
    margin: 0 auto;
    text-align: left;
}

#explain{
    background-color: #94e9fa;
    line-height: 190%; /* 장평 높이*/
   
    margin-right: 3%;
    margin-left: 3%;
    font-size:15px;
    letter-spacing:normal;
    
    word-break: keep-all;
}

article {
    
    display:flex;
    flex-direction: column; /* 세로 정렬 */
    max-width: 360px;
    
}

.name{
    font-size:25px;
    word-break: keep-all;
}

.what{
    margin: auto;
    font-size: 20px;
    
    color: rgb(104, 238, 187);
    text-shadow: 0 0 3.2px #000000;
}